
<h1 class="my-4">Product Manager</h1>
<app-add-product></app-add-product>
<br>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Photo</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row" ><p>{{product.id}}</p></th>
        <td ><p>{{product.name}}</p></td>
        <td ><p><img  style="width: 70px; height: 40px;" src="{{product.img}}" alt=""></p></td>
        <td ><p>{{product.price}}</p></td>
        <td ><p>{{product.status}}</p></td>
        <td> <button class="btn btn-primary d-block w-100 btn-lg" (click)="removeItem(product.id)">Delete</button></td>
      </tr>
      
    </tbody>
  </table>