<form>
    <div class="form-group">
        <label for="">Product ID</label>
        <input type="text" class="form-control" name="id" [(ngModel)]="product.id">
      </div>
    <div class="form-group">
      <label for="">Product Name</label>
      <input type="text" class="form-control" name="name"  [(ngModel)]="product.name">
    </div>
    <div class="form-group">
        <label for="">Product photo</label>
        <input type="text" class="form-control" value="https://dummyimage.com/275x175/000/fff"  name="photo"  [(ngModel)]="product.img"/>
      </div>
    <div class="form-group">
      <label for="">Price</label>
      <input type="number" class="form-control" name="price" [(ngModel)]="product.price">
    </div>
    <div class="form-group">
        <label for="">Status</label>
        <input type="text" class="form-control" name="status" [(ngModel)]="product.status">
      </div>
    <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
  </form>
